{{define "tasks-item"}}
  <form accept-charset="UTF-8" id="task-{{.ID}}" hx-post="/tasks/{{.ID}}" hx-target="#task-{{.ID}}" hx-swap="outerHTML" class="task">
    <input type="text" name="title" value="{{.Title}}"/>
    <input type="text" name="description" value="{{.Description}}"/>
    <input type="checkbox" name="isDone" id="isDoneCheckbox" {{if .IsDone}}checked{{end}}/>
    <div class="actions">
      <button onclick="setPending('submit{{.ID}}')" id="submit{{.ID}}" disabled type="submit">
        Salvar alterações
      </button>
      <button hx-delete="/tasks/{{.ID}}" hx-target="#task-{{.ID}}" hx-swap="delete swap:100ms">Excluir</button>
    </div>
    <script>
      (() => {
        const handleChange = () => {
          const initial = {
            "title": {{.Title}},
            "description": {{.Description}},
            "isDone": {{.IsDone}}
          }

          const current = {
            "title": document.querySelector('#task-{{.ID}} input[name="title"]').value,
            "description": document.querySelector('#task-{{.ID}} input[name="description"]').value,
            "isDone": document.querySelector('#task-{{.ID}} input[name="isDone"]').checked
          }
  
          if (JSON.stringify(initial) === JSON.stringify(current)) {
            setDisabled('submit{{.ID}}')
          } else {
            unsetDisabled('submit{{.ID}}')
          }
        }
  
        document.querySelectorAll('#task-{{.ID}} input').forEach((input) => {
          input.addEventListener('input', handleChange)
        })
      })()
    </script>
  </form>
{{end}}